* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background-image: url(./download\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    

}

.Tit {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    /* background-color: black; */
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 8px black;
    filter: drop-shadow(2px 2px 25px yellow);
    /* cursor: pointer; */
    animation-name: tit;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


.Box-sub {
    height: 330PX;
    width: 330PX;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   box-shadow: yellow 0px 1px 15px;
    border: 1px double yellow;
}

.Box-1 {
    display: flex;
    /* max-width: 50px; */
    justify-content: center;
    align-items: center;
    font-size: 85px;
    font-weight: 1200PX;
    filter: drop-shadow(1px 1px 25px yellow);
    color: whitesmoke;
    cursor:context-menu;
    cursor:context-menu;
    border: 4px solid pink;
    
}


.Start {
    /* filter: drop-shadow(2px 2px 25px yellow); */
    text-align: center;
    margin-top:  10px;
    color: rgb(253, 251, 109);
    font-size: xx-large;
}

.Box-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Btn-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btn-1{
    height: 50px;
    width: 220px;
    border-radius: 23px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    background-color:#ffe985;
    border: none;
}

.win-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: xx-large;
    filter: drop-shadow(1px 1px 25px yellow);

}
.Btn-parent-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

button:hover{
    background-color:pink;
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;

}


span{
    font-weight: 700;
    display: inline-block;
    margin-left: 10px;
    filter: drop-shadow(1px 1px 25px yellow);
     
    
}
.btn-2{
    height: 50px;
    width: 220px;
    border-radius: 23px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    background-color:#ffe985;
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
